
<style type="text/css">
#success_message{ display: ;}
</style>
</head>
<body >
    <div class="container">

   
    <form role="form" name="regform" class="well form-horizontal" id="contact_form" ng-submit="doUpdate()" data-ng-init="getCategory()">
<fieldset>


  
Form Name
<legend><center><h2><b>Update Product</b></h2></center></legend><br>

<!-- Text input -->

<div class="form-group">
  <label class="col-md-4 control-label">Item Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <input type="text" name="itemName"   ng-value="item.itemName" ng-model="itemName" class="form-control" style="width: 300px;">

    </div>
  </div>

  <label class="col-md-4 control-label" >Item Price</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <input type="text" name="itemPrice" ng-model="itemPrice" ng-value="item.unitPrice" class="form-control"   style="width: 300px;">
    </div>
  </div>



  <label class="col-md-4 control-label">Item Inventry</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <input type="text" name="itemInventry" ng-model="itemInventry" ng-value="item.inventary" class="form-control" style="width: 300px;">
    </div>
  </div>

  <label class="col-md-4 control-label" >Item Description</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <textarea name="itemDescription" ng-model="itemDescription" ng-value="item.itemDescription" class="form-control" rows="4" style="width: 300px;"></textarea>
    </div>
  </div>

 
  <label class="col-md-4 control-label">Item Category</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
							<select class="form-control selectpicker" name="category"
								ng-options="key as value for (key , value) in categories"
								ng-model="category" ng-change="getSubCategory()" style="width:200px"></select> 
   
  </div>
</div>


 
  <label class="col-md-4 control-label">Item SubCategory</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
    <select class="form-control selectpicker" name="subCategory"
								ng-options="key as value for (key , value) in subCategories"
								ng-model="subCategory" style="width:200px"></select> 
    
  </div>
</div>


</div>

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i></div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br>
  <button type="submit" class="btn btn-success" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspUPDATE <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
  </div>
</div>

</fieldset>
</form>
</div>

</body>
</html>